/* Set colour variables */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
/* Set custom settings */
body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: var(--Very-Light-Gray);
}
h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Blue);
    margin: 0;
}
.wrapper {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}
/* Text-box properties */
.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 72px;
}
.card-grid {
    border: 1px violet solid;
    padding: 0 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two-card-grid {
    border: 1px green solid;
    display: flex;
    flex-direction: column;
    flex: 1;
    grid-gap: 1.4em;
}
/* Styles shared by all cards */
.card {
    border-top-style: solid;
    box-shadow: 0 2px 9px 0px rgba(50,50,200,.42);
    border-radius: 7px;
    padding: 2.6em 2.5em;
    max-width: 300px;
    height: 180px;
    margin: 1.4em;
}
/* Styles unique to each card */
.card-1 {
    border-top-color: var(--Cyan);
    position: relative;
}
.card-2 {
    border-top-color: var(--Red);
}
.card-3 {
    border-top-color: var(--Orange); 
}
.card-4 {
    border-top-color: var(--Blue);    
}
/* Typography */
h2 {
    font-weight: 200;
    font-size: 2em;
}
h1 {
    font-weight: 600;
    font-size: 28px;
}
p{
    font-size: 15px;
    font-weight: 200;
    color: var(--Grayish-Blue);
    line-height: 1.5;
    margin-top: 20px;
}
/* Box related items */
img:only-of-type {
    float: right;
    position: relative;
    margin-top: 2em;
}

/* Layout for desktop */
@media(min-width: 900px) {
    .text-container{
        margin-bottom: 64px;
    }
    .card-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        height: 180px;
    }
}