@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray);
}

h1, h2, h3 {
    color: var(--Very-Dark-Blue);
}

img {
    float: right;
    padding-top: 20px;
}

.wrapper {
    width: 1420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.title h2 {
    font-weight: 200;
    line-height: 2em;
    font-size: 32px;
}

.title h1 {
    font-weight: 600;
    font-size: 40px;
}

.tagline {
    margin-top: 15px;
}

.tagline p {
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5em;
}

.card-grid {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 90vh;
}

.two-card-grid {
    display: flex;
    flex-direction: column;
    border: 1px blue solid;
    padding: 10px;
    align-items: flex-end;
    height: 60%;
    justify-content: space-evenly;
    grid-gap: 40px;
}

.card-1 p, .card-2 p, .card-3 p, .card-4 p {
    color: var(--Grayish-Blue);
    font-size: 16px;
    padding-top: 5px;
    line-height: 1.5em;    
}

.card h3 {

    font-size: 24px;
}

.card-1 {
    border-top-style: solid;
    border-top-color: var(--Cyan);
    flex: 1;
    box-shadow: 0 2px 8px 0px rgba(50,50,200,.42);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 300px;
    height: 160px;
    position: relative;
}
.card-2 {
    border-top-style: solid;
    border-top-color: var(--Red);
    flex: 1;
    box-shadow: 0 2px 8px 0px rgba(50,50,200,.42);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 300px;
    height: 160px;
}
.card-3 {
    border-top-style: solid;
    border-top-color: var(--Orange);
    flex: 1;
    box-shadow: 0 2px 8px 0px rgba(50,50,200,.42);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 300px;
    height: 160px; 
}
.card-4 {
    border-top-style: solid;
    border-top-color: var(--Blue);
    flex: 1;
    box-shadow: 0 2px 8px 0px rgba(50,50,200,.42);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 300px;
    height: 160px;     
}

@media(max-width: 375px) {
   .wrapper {
       display: flex;
       flex-direction:row;
       flex-wrap: wrap;
       flex-basis: 90%;

   }
}