/* Set colour variables */
:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}
/* Set custom settings */
body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--Very-Light-Gray);
}
h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Blue);
    margin: 0;
}
.wrapper {
    border: 1px black solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Text-box properties */
.container {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2 {
    font-weight: 200;
    line-height: 2;
    font-size: 32px;
}

.title h1 {
    font-weight: 600;
}

p {
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}





/* Box related items */
img:only-of-type {
    float: right;
    padding-top: 20px;
}


/* Cards full-screen properties */

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.two-card-grid {
    display: flex;
    grid-gap: 16px;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    justify-content: space-evenly;
}

.card p {
    color: var(--Grayish-Blue);
    font-size: 16px;
    padding-top: 5px;
    line-height: 1.5;    
}

/* Styles shared by all cards */
.card {
    border-top-style: solid;
    flex: 1;
    box-shadow: 0 2px 8px 0px rgba(50,50,200,.42);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
    width: 300px;
    height: 160px;
}

/* Styles unique to each card */
.card-1 {
    border-top-color: var(--Cyan);
    position: relative;
}
.card-2 {
    border-top-color: var(--Red);
}

.card-3 {
    border-top-color: var(--Orange); 
}
.card-4 {
    border-top-color: var(--Blue);    
}

/* Layout for mobile */

@media(max-width: 520px) {
   .card-grid {
       grid-template-columns: 1fr;
   }
}